.propertyinfo-background{
    background-image: url('ocean_view.jpg');
}
.ocean_view_villa_img{
    background-image: url('/csc309-project/P1/htmls/Properties/ocean_view.jpg');
}

.header-img{
    background-image: url('/csc309-project/P1/htmls/Properties/ocean-background.jpg');
}
footer{
    position: relative;
    align-content: center;
    bottom: 0;
    padding: 20px;
    width: 100%;
    margin-top: 8%;

    font-size: 15px;
    background-color: transparent;
}

.page-container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
}
.content-wrap {
    margin-top: 0;
    margin-bottom: 500px;
    width: 100%;
    flex: 1;
}

.property {
    display: flex;
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
  }
  .property img {
    width: 300px;
    height: 200px;
    margin-right: 20px;
  }

  .images-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .images-grid img{
    width: 180%;
    height: 90%;
    margin-right: 20px;
  }
  
  .image-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  
  html, body {
    background-color: #f5f5f5;
    height: 100%;
    margin: 0;
  }
  
  .section {
    padding: 3rem 1.5rem;
  }
  
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .label {
    font-weight: bold;
    font-size: 20px;
  }
  
  .textarea {
    min-height: 100px;
    resize: vertical;
  }
  
  .columns {
    margin-top: 1.5rem;
  }
  
  .subtitle {
    margin-bottom: 1rem;
  }


.logo-size{
    width: 20px;
    height: 20px;
}

.input{
    width: 80%;
}
  
.field{
    position: relative;
    width: 100%; 
    left: 12.5%;
}
.form{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%;
}

.setting1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.is-bold{
    font-weight: bold;
}

.file-upload-button {
    border: 2px solid lightseagreen;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    color: lightblue;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    position: relative; 
    left: 50%; 
    top: 20%;
  }

a {
    text-decoration: none
}